@import url("https://fonts.googleapis.com/css2?family=Sora:wght@400;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Sora", sans-serif;
}

h1 {
  font-weight: 600;
}

::-webkit-scrollbar {
  width: 5px;
  height: 1px;
}
::-webkit-scrollbar-thumb {
  background: #474440;
}
.primary-create-btn {
  margin: 10px !important;
}

.edit-btn {
  margin-right: 15px !important;
  border-radius: 25px !important;
}
.table-heading {
  font-size: 22px !important;
  font-weight: 400 !important;

  margin-left: 15px !important;
}

.table-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  text-align: center !important;
  padding: 10px;
  font-size: 16px;
}

.dialog-box {
  padding: 10px;
}
.table-data {
  width: 100px;
}

.container {
  padding: 50px 15px 50px;
}

.btn-list Button {
  border-radius: 25px;
}

.table-data {
  border: none !important;
}

.table-title {
  display: flex;
}

.theme-switch {
  position: absolute !important;
  transform: translate(1150px, 5px) !important;
}

.accordionSummary {
  flex-direction: row-reverse !important;
}

.active {
  box-shadow: 5px 5px 5px #000 !important;
}

ul,
li {
  list-style-type: none;
}

.tree {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: #fbfbfb;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}
li {
  list-style-type: none;
  margin: 0;
  padding: 10px 5px 0 5px;
  position: relative;
}
li::before,
li::after {
  content: "";
  left: -20px;
  position: absolute;
  right: auto;
}
li::before {
  border-left: 1px solid #999;
  bottom: 50px;
  height: 100%;
  top: 0;
  width: 1px;
}
li::after {
  border-top: 1px solid #999;
  height: 20px;
  top: 30px;
  width: 25px;
}
/* li::after {
  border-bottom: 1px solid #999;
  height: 20px;
  top: 30px;
  width: 25px;
  border-bottom-left-radius: 5px;
} */
li span {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border: 1px solid #999;
  border-radius: 5px;
  display: inline-block;
  padding: 3px 8px;
  text-decoration: none;
}

.tree > ul > li::before,
.tree > ul > li::after {
  border: 0;
}
.tree li:last-child::before {
  height: 30px;
}

.accordionSummary {
  flex-direction: row-reverse !important;
}
